{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %} {% endblock %} | CaloriesFast</title>

    <link rel="stylesheet" type="text/css" href="{% static 'CSS/styles.css'%}" />
  </head>

  <body>
    <header>
      <div id="logotipo">
        <img src="{% static 'imagenes/Koala.jpg'%}" />

        <h1>CaloriesFast</h1>
      </div>
    </header>

    <nav>
      <ul>
        <li>
          <a href="{% url 'inicio' %}"> Inicio </a>
        </li>
      </ul>
    </nav>

    <div id="content">
      <div class="box">{% block content %} {% endblock %}</div>
    </div>

    <footer>CaloriesFast &copy; Daniel Avendaño Web - {% now "Y" %}</footer>
  </body>
</html>
